/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Sacramento&family=Ubuntu:wght@300&display=swap');

:root {
    --dark-green: #0e4f1f;
    --highlight-color: #ff1b68;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3.5rem auto fit-content(8rem);
    grid-template-rows: 3.5rem auto fit-content(8rem);
        grid-template-areas: "header"
                         "main"
                         "footer";
    /* padding-top: 3.5rem; */
    height: 100%;
}

main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    /* min-height: calc(100vh - 3.5rem - 8rem); */
    /* grid-row: 2 / 3; */
    grid-area: main;
}

.backdrop{
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

.main-header{
    width: 100%;
    position: fixed;
    background: #2DDF5C;
    padding: 0.5rem 1rem;
    z-index: 51;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* ~~~~~~~~~~~~ATTENTION HERE!!!!!~~~~~~~~~~~~ */
/* The function below is an alternative option of what I used instead of the combinator of 
.main-header > div {
    display: inline-block;
}
.u-host{
    display: inline-block;
}

.main-nav{
    display: inline-block;
} */

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }
  


.main-header__brand{
    color: #0E4F1F;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
}

.main-header__brand img {
    /* width: 100%; */
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
}


.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-nav__item{
    margin: 0 1rem;
}

/* The text decoration value set to none and its color decoration did not work,
because of the default styling of the browser for the anchor tags.
The way of sorting this out is to use the combinator targeting the parent/child situation,
for the anchor tag and its parent div, or we add specific classes to the anchor tags that we want to style */
.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: var(--dark-green);
    font-weight: bold;
    padding: 0.2rem 0;
}
/* 
We group our code together when we have the same selector as in the case below, and we do this
by adding a comma after an initial selector before writing the next one. */
.main-nav__item a:hover,
.main-nav__item a:active {
    color: whitesmoke;
    border-bottom: 5px solid;
}

.main-nav__item--cta {
    -webkit-animation: wiggle 400ms 3s 8 forwards;
            animation: wiggle 400ms 3s 8 forwards;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    color: white;
    background: var(--highlight-color, #FF1B68);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: var(--highlight-color);
    background: white;
    border: none;
}

@media(min-width:40rem){
    .toggle-button {
        display: none;
    }

    .main-nav {
        /* display: inline-block;
        text-align: right;
        width: calc(100% - 44px);
        vertical-align: middle; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
  }

/* Styling the button for all three plans */
.button{
    background-color: var(--dark-green, #0E4F1F);
    color: whitesmoke;
    border-radius: 10px;
    font: inherit;
    border: 1.5px solid var(--dark-green);
    padding: 0.313rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: whitesmoke;
    color: var(--dark-green);
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

  

.main-footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    background-color: black;
    padding: 2rem;
    margin-top: 3rem;
    /* grid-row: 3 / 4; */
    grid-area: footer;
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-footer__link{
    margin: 0.5rem o;
    /* padding: 2.5rem 0; */
}

.main-footer__link a{
    color: whitesmoke;
    text-align: none;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #CCC;
}

@media (min-width: 40rem){
    .main-footer__link {
        margin: 0 1rem;
    }

    .main-footer__links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;  
        -webkit-box-pack: center;  
            -ms-flex-pack: center;  
                justify-content: center;
    }
}

.open{
    display: block !important;
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
}
/* 
The first method of writing this is to define both 
the start point and the end point simultaneously */

/* @keyframes wiggle {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(10deg);
    }
} */

/* The second method is to use percentages */
@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
}
@keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
}