/* body{
    margin: 0;
}

h1{
    color: white;
}
h2{
    color: grey;
}
.black-header{
    color: black;
}
p{
    color: black;
    border-radius: 0;
    border: 2px o solid green;
    background-color: white;
    padding: 5px 0;
}

.plus-plan{
    background-color: #19B84C;
    border: 2px o solid green;
    margin: 5px 0 solid green;
}
.free-plan{
    background-color: #19B84C;
    border: 2px o solid green;
    margin: 5px 0;
}
.premium-plan{
    background-color: green;
    border: 2px 0 solid green;
    margin: 5px 0;
} */

main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(50%);
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0E4F1F;
    border-left: none;
    position: relative;
    overflow: hidden;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75rem;
    color: white;
    background-color: #FF5454;
    padding: 0.5rem;
    margin: 0;
    z-index: 0;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    transform-origin: center;
    text-align: center;
    width: 12rem;
}

.package:hover,
.package:active {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #FF5454;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0E4F1F;
    font-size: 1.25rem;
    color: #0E4F1F;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

/* the float property for the supporting div for the float */
.clear-float {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    margin-left: 15%;
    border-left: 4px solid #0E4F1F;
    /* the float property below needs a supporting div, so that the other
    page elements are not affected by its operation  */
    float: right;
    border-right: none;
    text-align: right;
}

#free:hover,
#free:active {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #FF5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #BBB;
}

@media (min-width:40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1500px) {
    .package {
        border-left: 4px solid #0E4F1F;
    }

    #free {
        border-right: 4px solid #0E4F1F;
        ;
    }

    #free:hover,
    #free:active {
        box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
        border-right-color: #FF5454;
    }
}